extends layout

block content
	div#login
		p Nickname:
		input#nickname
		p#wait Espere un momento ...
	div#chat
		ol#list-messages

		div
		input#messages(type='text')
		input#submit-message(type='button', value='enviar')